:root{
    --jb-blue : #0565F0;
    --blue1 : #f0f6ff;
    --blue2 : #e5f1ff;
    --blue3 : #c2dcff;
    --blue4 : #5697f0;
    --blue5 : #307ff0;
    --blue6 : #175ec7;
    --blue7 : #1d2d47;
    --gray1 : #f5f7fa;
    --gray2 : #f2f5f7;
    --gray3 : #eceff4;
    --gray4 : #e1e3e5;
    --gray5 : #c0c6cc;
    --gray6 : #a9b0b8;
    --gray7 : #8c959f;
    --gray8 : #6e7780;
    --gray9 : e515961;
    --gray10 : #212529;
    --white : #ffffff;
    --danger : #e5493a;
    
}